<template>
  <div class="row justify-content-center">
    <div class="col-8">
      <div v-if="order">
        <h2 class="jh-entity-heading" data-cy="orderDetailsHeading">
          <span v-text="$t('blogApp.order.detail.title')">Order</span> {{ order.id }}
        </h2>
        <dl class="row jh-entity-details">
          <dt>
            <span v-text="$t('blogApp.order.idOrder')">Id Order</span>
          </dt>
          <dd>
            <span>{{ order.idOrder }}</span>
          </dd>
          <dt>
            <span v-text="$t('blogApp.order.price')">Price</span>
          </dt>
          <dd>
            <span>{{ order.price }}</span>
          </dd>
          <dt>
            <span v-text="$t('blogApp.order.status')">Status</span>
          </dt>
          <dd>
            <span>{{ order.status }}</span>
          </dd>
          <dt>
            <span v-text="$t('blogApp.order.deliveryRun')">Delivery Run</span>
          </dt>
          <dd>
            <div v-if="order.deliveryRun">
              <router-link :to="{ name: 'DeliveryRunView', params: { deliveryRunId: order.deliveryRun.id } }">{{
                order.deliveryRun.id
              }}</router-link>
            </div>
          </dd>
          <dt>
            <span v-text="$t('blogApp.order.customer')">Customer</span>
          </dt>
          <dd>
            <div v-if="order.customer">
              <router-link :to="{ name: 'CustomerView', params: { customerId: order.customer.id } }">{{ order.customer.id }}</router-link>
            </div>
          </dd>
          <dt>
            <span v-text="$t('blogApp.order.courier')">Courier</span>
          </dt>
          <dd>
            <div v-if="order.courier">
              <router-link :to="{ name: 'CourierView', params: { courierId: order.courier.id } }">{{ order.courier.id }}</router-link>
            </div>
          </dd>
        </dl>
        <button type="submit" v-on:click.prevent="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <font-awesome-icon icon="arrow-left"></font-awesome-icon>&nbsp;<span v-text="$t('entity.action.back')"> Back</span>
        </button>
        <router-link v-if="order.id" :to="{ name: 'OrderEdit', params: { orderId: order.id } }" custom v-slot="{ navigate }">
          <button @click="navigate" class="btn btn-primary">
            <font-awesome-icon icon="pencil-alt"></font-awesome-icon>&nbsp;<span v-text="$t('entity.action.edit')"> Edit</span>
          </button>
        </router-link>
      </div>
    </div>
  </div>
</template>

<script lang="ts" src="./order-details.component.ts"></script>
