<template>
  <div class="row justify-content-center">
    <div class="col-8">
      <form name="editForm" role="form" novalidate v-on:submit.prevent="save()">
        <h2
          id="blogApp.order.home.createOrEditLabel"
          data-cy="OrderCreateUpdateHeading"
          v-text="$t('blogApp.order.home.createOrEditLabel')"
        >
          Create or edit a Order
        </h2>
        <div>
          <div class="form-group" v-if="order.id">
            <label for="id" v-text="$t('global.field.id')">ID</label>
            <input type="text" class="form-control" id="id" name="id" v-model="order.id" readonly />
          </div>
          <div class="form-group">
            <label class="form-control-label" v-text="$t('blogApp.order.idOrder')" for="order-idOrder">Id Order</label>
            <input
              type="number"
              class="form-control"
              name="idOrder"
              id="order-idOrder"
              data-cy="idOrder"
              :class="{ valid: !$v.order.idOrder.$invalid, invalid: $v.order.idOrder.$invalid }"
              v-model.number="$v.order.idOrder.$model"
            />
            <div v-if="$v.order.idOrder.$anyDirty && $v.order.idOrder.$invalid">
              <small class="form-text text-danger" v-if="!$v.order.idOrder.numeric" v-text="$t('entity.validation.number')">
                This field should be a number.
              </small>
            </div>
          </div>
          <div class="form-group">
            <label class="form-control-label" v-text="$t('blogApp.order.price')" for="order-price">Price</label>
            <input
              type="number"
              class="form-control"
              name="price"
              id="order-price"
              data-cy="price"
              :class="{ valid: !$v.order.price.$invalid, invalid: $v.order.price.$invalid }"
              v-model.number="$v.order.price.$model"
              required
            />
            <div v-if="$v.order.price.$anyDirty && $v.order.price.$invalid">
              <small class="form-text text-danger" v-if="!$v.order.price.required" v-text="$t('entity.validation.required')">
                This field is required.
              </small>
              <small class="form-text text-danger" v-if="!$v.order.price.min" v-text="$t('entity.validation.min', { min: 0 })">
                This field should be at least 0.
              </small>
              <small class="form-text text-danger" v-if="!$v.order.price.numeric" v-text="$t('entity.validation.number')">
                This field should be a number.
              </small>
            </div>
          </div>
          <div class="form-group">
            <label class="form-control-label" v-text="$t('blogApp.order.status')" for="order-status">Status</label>
            <input
              type="text"
              class="form-control"
              name="status"
              id="order-status"
              data-cy="status"
              :class="{ valid: !$v.order.status.$invalid, invalid: $v.order.status.$invalid }"
              v-model="$v.order.status.$model"
            />
          </div>
          <div class="form-group">
            <label class="form-control-label" v-text="$t('blogApp.order.deliveryRun')" for="order-deliveryRun">Delivery Run</label>
            <select class="form-control" id="order-deliveryRun" data-cy="deliveryRun" name="deliveryRun" v-model="order.deliveryRun">
              <option v-bind:value="null"></option>
              <option
                v-bind:value="order.deliveryRun && deliveryRunOption.id === order.deliveryRun.id ? order.deliveryRun : deliveryRunOption"
                v-for="deliveryRunOption in deliveryRuns"
                :key="deliveryRunOption.id"
              >
                {{ deliveryRunOption.id }}
              </option>
            </select>
          </div>
          <div class="form-group">
            <label class="form-control-label" v-text="$t('blogApp.order.customer')" for="order-customer">Customer</label>
            <select class="form-control" id="order-customer" data-cy="customer" name="customer" v-model="order.customer">
              <option v-bind:value="null"></option>
              <option
                v-bind:value="order.customer && customerOption.id === order.customer.id ? order.customer : customerOption"
                v-for="customerOption in customers"
                :key="customerOption.id"
              >
                {{ customerOption.id }}
              </option>
            </select>
          </div>
          <div class="form-group">
            <label class="form-control-label" v-text="$t('blogApp.order.courier')" for="order-courier">Courier</label>
            <select class="form-control" id="order-courier" data-cy="courier" name="courier" v-model="order.courier">
              <option v-bind:value="null"></option>
              <option
                v-bind:value="order.courier && courierOption.id === order.courier.id ? order.courier : courierOption"
                v-for="courierOption in couriers"
                :key="courierOption.id"
              >
                {{ courierOption.id }}
              </option>
            </select>
          </div>
        </div>
        <div>
          <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" v-on:click="previousState()">
            <font-awesome-icon icon="ban"></font-awesome-icon>&nbsp;<span v-text="$t('entity.action.cancel')">Cancel</span>
          </button>
          <button
            type="submit"
            id="save-entity"
            data-cy="entityCreateSaveButton"
            :disabled="$v.order.$invalid || isSaving"
            class="btn btn-primary"
          >
            <font-awesome-icon icon="save"></font-awesome-icon>&nbsp;<span v-text="$t('entity.action.save')">Save</span>
          </button>
        </div>
      </form>
    </div>
  </div>
</template>
<script lang="ts" src="./order-update.component.ts"></script>
