<template>
  <div class="row justify-content-center">
    <div class="col-8">
      <form name="editForm" role="form" novalidate v-on:submit.prevent="save()">
        <h2 id="blogApp.coop.home.createOrEditLabel" data-cy="CoopCreateUpdateHeading" v-text="$t('blogApp.coop.home.createOrEditLabel')">
          Create or edit a Coop
        </h2>
        <div>
          <div class="form-group" v-if="coop.id">
            <label for="id" v-text="$t('global.field.id')">ID</label>
            <input type="text" class="form-control" id="id" name="id" v-model="coop.id" readonly />
          </div>
          <div class="form-group">
            <label class="form-control-label" v-text="$t('blogApp.coop.nameCoop')" for="coop-nameCoop">Name Coop</label>
            <input
              type="text"
              class="form-control"
              name="nameCoop"
              id="coop-nameCoop"
              data-cy="nameCoop"
              :class="{ valid: !$v.coop.nameCoop.$invalid, invalid: $v.coop.nameCoop.$invalid }"
              v-model="$v.coop.nameCoop.$model"
            />
          </div>
          <div class="form-group">
            <label class="form-control-label" v-text="$t('blogApp.coop.idCoop')" for="coop-idCoop">Id Coop</label>
            <input
              type="number"
              class="form-control"
              name="idCoop"
              id="coop-idCoop"
              data-cy="idCoop"
              :class="{ valid: !$v.coop.idCoop.$invalid, invalid: $v.coop.idCoop.$invalid }"
              v-model.number="$v.coop.idCoop.$model"
              required
            />
            <div v-if="$v.coop.idCoop.$anyDirty && $v.coop.idCoop.$invalid">
              <small class="form-text text-danger" v-if="!$v.coop.idCoop.required" v-text="$t('entity.validation.required')">
                This field is required.
              </small>
              <small class="form-text text-danger" v-if="!$v.coop.idCoop.numeric" v-text="$t('entity.validation.number')">
                This field should be a number.
              </small>
            </div>
          </div>
          <div class="form-group">
            <label class="form-control-label" v-text="$t('blogApp.coop.zone')" for="coop-zone">Zone</label>
            <input
              type="text"
              class="form-control"
              name="zone"
              id="coop-zone"
              data-cy="zone"
              :class="{ valid: !$v.coop.zone.$invalid, invalid: $v.coop.zone.$invalid }"
              v-model="$v.coop.zone.$model"
            />
          </div>
          <div class="form-group">
            <label class="form-control-label" v-text="$t('blogApp.coop.addressCoop')" for="coop-addressCoop">Address Coop</label>
            <input
              type="text"
              class="form-control"
              name="addressCoop"
              id="coop-addressCoop"
              data-cy="addressCoop"
              :class="{ valid: !$v.coop.addressCoop.$invalid, invalid: $v.coop.addressCoop.$invalid }"
              v-model="$v.coop.addressCoop.$model"
            />
          </div>
        </div>
        <div>
          <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" v-on:click="previousState()">
            <font-awesome-icon icon="ban"></font-awesome-icon>&nbsp;<span v-text="$t('entity.action.cancel')">Cancel</span>
          </button>
          <button
            type="submit"
            id="save-entity"
            data-cy="entityCreateSaveButton"
            :disabled="$v.coop.$invalid || isSaving"
            class="btn btn-primary"
          >
            <font-awesome-icon icon="save"></font-awesome-icon>&nbsp;<span v-text="$t('entity.action.save')">Save</span>
          </button>
        </div>
      </form>
    </div>
  </div>
</template>
<script lang="ts" src="./coop-update.component.ts"></script>
