<template>
  <div class="row justify-content-center">
    <div class="col-8">
      <div v-if="coop">
        <h2 class="jh-entity-heading" data-cy="coopDetailsHeading">
          <span v-text="$t('blogApp.coop.detail.title')">Coop</span> {{ coop.id }}
        </h2>
        <dl class="row jh-entity-details">
          <dt>
            <span v-text="$t('blogApp.coop.nameCoop')">Name Coop</span>
          </dt>
          <dd>
            <span>{{ coop.nameCoop }}</span>
          </dd>
          <dt>
            <span v-text="$t('blogApp.coop.idCoop')">Id Coop</span>
          </dt>
          <dd>
            <span>{{ coop.idCoop }}</span>
          </dd>
          <dt>
            <span v-text="$t('blogApp.coop.zone')">Zone</span>
          </dt>
          <dd>
            <span>{{ coop.zone }}</span>
          </dd>
          <dt>
            <span v-text="$t('blogApp.coop.addressCoop')">Address Coop</span>
          </dt>
          <dd>
            <span>{{ coop.addressCoop }}</span>
          </dd>
        </dl>
        <button type="submit" v-on:click.prevent="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <font-awesome-icon icon="arrow-left"></font-awesome-icon>&nbsp;<span v-text="$t('entity.action.back')"> Back</span>
        </button>
        <router-link v-if="coop.id" :to="{ name: 'CoopEdit', params: { coopId: coop.id } }" custom v-slot="{ navigate }">
          <button @click="navigate" class="btn btn-primary">
            <font-awesome-icon icon="pencil-alt"></font-awesome-icon>&nbsp;<span v-text="$t('entity.action.edit')"> Edit</span>
          </button>
        </router-link>
      </div>
    </div>
  </div>
</template>

<script lang="ts" src="./coop-details.component.ts"></script>
