<template>
  <div>
    <h2 id="page-heading" data-cy="CoopHeading">
      <span v-text="$t('blogApp.coop.home.title')" id="coop-heading">Coops</span>
      <div class="d-flex justify-content-end">
        <button class="btn btn-info mr-2" v-on:click="handleSyncList" :disabled="isFetching">
          <font-awesome-icon icon="sync" :spin="isFetching"></font-awesome-icon>
          <span v-text="$t('blogApp.coop.home.refreshListLabel')">Refresh List</span>
        </button>
        <router-link :to="{ name: 'CoopCreate' }" custom v-slot="{ navigate }">
          <button @click="navigate" id="jh-create-entity" data-cy="entityCreateButton" class="btn btn-primary jh-create-entity create-coop">
            <font-awesome-icon icon="plus"></font-awesome-icon>
            <span v-text="$t('blogApp.coop.home.createLabel')"> Create a new Coop </span>
          </button>
        </router-link>
      </div>
    </h2>
    <br />
    <div class="alert alert-warning" v-if="!isFetching && coops && coops.length === 0">
      <span v-text="$t('blogApp.coop.home.notFound')">No coops found</span>
    </div>
    <div class="table-responsive" v-if="coops && coops.length > 0">
      <table class="table table-striped" aria-describedby="coops">
        <thead>
          <tr>
            <th scope="row"><span v-text="$t('global.field.id')">ID</span></th>
            <th scope="row"><span v-text="$t('blogApp.coop.nameCoop')">Name Coop</span></th>
            <th scope="row"><span v-text="$t('blogApp.coop.idCoop')">Id Coop</span></th>
            <th scope="row"><span v-text="$t('blogApp.coop.zone')">Zone</span></th>
            <th scope="row"><span v-text="$t('blogApp.coop.addressCoop')">Address Coop</span></th>
            <th scope="row"></th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="coop in coops" :key="coop.id" data-cy="entityTable">
            <td>
              <router-link :to="{ name: 'CoopView', params: { coopId: coop.id } }">{{ coop.id }}</router-link>
            </td>
            <td>{{ coop.nameCoop }}</td>
            <td>{{ coop.idCoop }}</td>
            <td>{{ coop.zone }}</td>
            <td>{{ coop.addressCoop }}</td>
            <td class="text-right">
              <div class="btn-group">
                <router-link :to="{ name: 'CoopView', params: { coopId: coop.id } }" custom v-slot="{ navigate }">
                  <button @click="navigate" class="btn btn-info btn-sm details" data-cy="entityDetailsButton">
                    <font-awesome-icon icon="eye"></font-awesome-icon>
                    <span class="d-none d-md-inline" v-text="$t('entity.action.view')">View</span>
                  </button>
                </router-link>
                <router-link :to="{ name: 'CoopEdit', params: { coopId: coop.id } }" custom v-slot="{ navigate }">
                  <button @click="navigate" class="btn btn-primary btn-sm edit" data-cy="entityEditButton">
                    <font-awesome-icon icon="pencil-alt"></font-awesome-icon>
                    <span class="d-none d-md-inline" v-text="$t('entity.action.edit')">Edit</span>
                  </button>
                </router-link>
                <b-button
                  v-on:click="prepareRemove(coop)"
                  variant="danger"
                  class="btn btn-sm"
                  data-cy="entityDeleteButton"
                  v-b-modal.removeEntity
                >
                  <font-awesome-icon icon="times"></font-awesome-icon>
                  <span class="d-none d-md-inline" v-text="$t('entity.action.delete')">Delete</span>
                </b-button>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <b-modal ref="removeEntity" id="removeEntity">
      <span slot="modal-title"
        ><span id="blogApp.coop.delete.question" data-cy="coopDeleteDialogHeading" v-text="$t('entity.delete.title')"
          >Confirm delete operation</span
        ></span
      >
      <div class="modal-body">
        <p id="jhi-delete-coop-heading" v-text="$t('blogApp.coop.delete.question', { id: removeId })">
          Are you sure you want to delete this Coop?
        </p>
      </div>
      <div slot="modal-footer">
        <button type="button" class="btn btn-secondary" v-text="$t('entity.action.cancel')" v-on:click="closeDialog()">Cancel</button>
        <button
          type="button"
          class="btn btn-primary"
          id="jhi-confirm-delete-coop"
          data-cy="entityConfirmDeleteButton"
          v-text="$t('entity.action.delete')"
          v-on:click="removeCoop()"
        >
          Delete
        </button>
      </div>
    </b-modal>
  </div>
</template>

<script lang="ts" src="./coop.component.ts"></script>
