<template>
  <div class="row justify-content-center">
    <div class="col-8">
      <form name="editForm" role="form" novalidate v-on:submit.prevent="save()">
        <h2
          id="blogApp.courier.home.createOrEditLabel"
          data-cy="CourierCreateUpdateHeading"
          v-text="$t('blogApp.courier.home.createOrEditLabel')"
        >
          Create or edit a Courier
        </h2>
        <div>
          <div class="form-group" v-if="courier.id">
            <label for="id" v-text="$t('global.field.id')">ID</label>
            <input type="text" class="form-control" id="id" name="id" v-model="courier.id" readonly />
          </div>
          <div class="form-group">
            <label class="form-control-label" v-text="$t('blogApp.courier.nameC')" for="courier-nameC">Name C</label>
            <input
              type="text"
              class="form-control"
              name="nameC"
              id="courier-nameC"
              data-cy="nameC"
              :class="{ valid: !$v.courier.nameC.$invalid, invalid: $v.courier.nameC.$invalid }"
              v-model="$v.courier.nameC.$model"
              required
            />
            <div v-if="$v.courier.nameC.$anyDirty && $v.courier.nameC.$invalid">
              <small class="form-text text-danger" v-if="!$v.courier.nameC.required" v-text="$t('entity.validation.required')">
                This field is required.
              </small>
              <small
                class="form-text text-danger"
                v-if="!$v.courier.nameC.minLength"
                v-text="$t('entity.validation.minlength', { min: 2 })"
              >
                This field is required to be at least 2 characters.
              </small>
              <small
                class="form-text text-danger"
                v-if="!$v.courier.nameC.maxLength"
                v-text="$t('entity.validation.maxlength', { max: 100 })"
              >
                This field cannot be longer than 100 characters.
              </small>
            </div>
          </div>
          <div class="form-group">
            <label class="form-control-label" v-text="$t('blogApp.courier.idC')" for="courier-idC">Id C</label>
            <input
              type="number"
              class="form-control"
              name="idC"
              id="courier-idC"
              data-cy="idC"
              :class="{ valid: !$v.courier.idC.$invalid, invalid: $v.courier.idC.$invalid }"
              v-model.number="$v.courier.idC.$model"
            />
            <div v-if="$v.courier.idC.$anyDirty && $v.courier.idC.$invalid">
              <small class="form-text text-danger" v-if="!$v.courier.idC.min" v-text="$t('entity.validation.min', { min: 1000 })">
                This field should be at least 1000.
              </small>
              <small class="form-text text-danger" v-if="!$v.courier.idC.numeric" v-text="$t('entity.validation.number')">
                This field should be a number.
              </small>
            </div>
          </div>
          <div class="form-group">
            <label class="form-control-label" v-text="$t('blogApp.courier.phone')" for="courier-phone">Phone</label>
            <input
              type="text"
              class="form-control"
              name="phone"
              id="courier-phone"
              data-cy="phone"
              :class="{ valid: !$v.courier.phone.$invalid, invalid: $v.courier.phone.$invalid }"
              v-model="$v.courier.phone.$model"
              required
            />
            <div v-if="$v.courier.phone.$anyDirty && $v.courier.phone.$invalid">
              <small class="form-text text-danger" v-if="!$v.courier.phone.required" v-text="$t('entity.validation.required')">
                This field is required.
              </small>
              <small
                class="form-text text-danger"
                v-if="!$v.courier.phone.pattern"
                v-text="$t('entity.validation.pattern', { pattern: 'Phone' })"
              >
                This field should follow pattern for "Phone".
              </small>
            </div>
          </div>
          <div class="form-group">
            <label class="form-control-label" v-text="$t('blogApp.courier.email')" for="courier-email">Email</label>
            <input
              type="text"
              class="form-control"
              name="email"
              id="courier-email"
              data-cy="email"
              :class="{ valid: !$v.courier.email.$invalid, invalid: $v.courier.email.$invalid }"
              v-model="$v.courier.email.$model"
              required
            />
            <div v-if="$v.courier.email.$anyDirty && $v.courier.email.$invalid">
              <small class="form-text text-danger" v-if="!$v.courier.email.required" v-text="$t('entity.validation.required')">
                This field is required.
              </small>
              <small
                class="form-text text-danger"
                v-if="!$v.courier.email.pattern"
                v-text="$t('entity.validation.pattern', { pattern: 'Email' })"
              >
                This field should follow pattern for "Email".
              </small>
            </div>
          </div>
          <div class="form-group">
            <label class="form-control-label" v-text="$t('blogApp.courier.maxCapacity')" for="courier-maxCapacity">Max Capacity</label>
            <input
              type="number"
              class="form-control"
              name="maxCapacity"
              id="courier-maxCapacity"
              data-cy="maxCapacity"
              :class="{ valid: !$v.courier.maxCapacity.$invalid, invalid: $v.courier.maxCapacity.$invalid }"
              v-model.number="$v.courier.maxCapacity.$model"
              required
            />
            <div v-if="$v.courier.maxCapacity.$anyDirty && $v.courier.maxCapacity.$invalid">
              <small class="form-text text-danger" v-if="!$v.courier.maxCapacity.required" v-text="$t('entity.validation.required')">
                This field is required.
              </small>
              <small class="form-text text-danger" v-if="!$v.courier.maxCapacity.min" v-text="$t('entity.validation.min', { min: 1 })">
                This field should be at least 1.
              </small>
              <small class="form-text text-danger" v-if="!$v.courier.maxCapacity.numeric" v-text="$t('entity.validation.number')">
                This field should be a number.
              </small>
            </div>
          </div>
          <div class="form-group">
            <label class="form-control-label" v-text="$t('blogApp.courier.deadline')" for="courier-deadline">Deadline</label>
            <input
              type="text"
              class="form-control"
              name="deadline"
              id="courier-deadline"
              data-cy="deadline"
              :class="{ valid: !$v.courier.deadline.$invalid, invalid: $v.courier.deadline.$invalid }"
              v-model="$v.courier.deadline.$model"
            />
          </div>
          <div class="form-group">
            <label class="form-control-label" v-text="$t('blogApp.courier.coop')" for="courier-coop">Coop</label>
            <select class="form-control" id="courier-coop" data-cy="coop" name="coop" v-model="courier.coop">
              <option v-bind:value="null"></option>
              <option
                v-bind:value="courier.coop && coopOption.id === courier.coop.id ? courier.coop : coopOption"
                v-for="coopOption in coops"
                :key="coopOption.id"
              >
                {{ coopOption.id }}
              </option>
            </select>
          </div>
        </div>
        <div>
          <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" v-on:click="previousState()">
            <font-awesome-icon icon="ban"></font-awesome-icon>&nbsp;<span v-text="$t('entity.action.cancel')">Cancel</span>
          </button>
          <button
            type="submit"
            id="save-entity"
            data-cy="entityCreateSaveButton"
            :disabled="$v.courier.$invalid || isSaving"
            class="btn btn-primary"
          >
            <font-awesome-icon icon="save"></font-awesome-icon>&nbsp;<span v-text="$t('entity.action.save')">Save</span>
          </button>
        </div>
      </form>
    </div>
  </div>
</template>
<script lang="ts" src="./courier-update.component.ts"></script>
