<template>
  <div class="row justify-content-center">
    <div class="col-8">
      <div v-if="courier">
        <h2 class="jh-entity-heading" data-cy="courierDetailsHeading">
          <span v-text="$t('blogApp.courier.detail.title')">Courier</span> {{ courier.id }}
        </h2>
        <dl class="row jh-entity-details">
          <dt>
            <span v-text="$t('blogApp.courier.nameC')">Name C</span>
          </dt>
          <dd>
            <span>{{ courier.nameC }}</span>
          </dd>
          <dt>
            <span v-text="$t('blogApp.courier.idC')">Id C</span>
          </dt>
          <dd>
            <span>{{ courier.idC }}</span>
          </dd>
          <dt>
            <span v-text="$t('blogApp.courier.phone')">Phone</span>
          </dt>
          <dd>
            <span>{{ courier.phone }}</span>
          </dd>
          <dt>
            <span v-text="$t('blogApp.courier.email')">Email</span>
          </dt>
          <dd>
            <span>{{ courier.email }}</span>
          </dd>
          <dt>
            <span v-text="$t('blogApp.courier.maxCapacity')">Max Capacity</span>
          </dt>
          <dd>
            <span>{{ courier.maxCapacity }}</span>
          </dd>
          <dt>
            <span v-text="$t('blogApp.courier.deadline')">Deadline</span>
          </dt>
          <dd>
            <span>{{ courier.deadline }}</span>
          </dd>
          <dt>
            <span v-text="$t('blogApp.courier.coop')">Coop</span>
          </dt>
          <dd>
            <div v-if="courier.coop">
              <router-link :to="{ name: 'CoopView', params: { coopId: courier.coop.id } }">{{ courier.coop.id }}</router-link>
            </div>
          </dd>
        </dl>
        <button type="submit" v-on:click.prevent="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <font-awesome-icon icon="arrow-left"></font-awesome-icon>&nbsp;<span v-text="$t('entity.action.back')"> Back</span>
        </button>
        <router-link v-if="courier.id" :to="{ name: 'CourierEdit', params: { courierId: courier.id } }" custom v-slot="{ navigate }">
          <button @click="navigate" class="btn btn-primary">
            <font-awesome-icon icon="pencil-alt"></font-awesome-icon>&nbsp;<span v-text="$t('entity.action.edit')"> Edit</span>
          </button>
        </router-link>
      </div>
    </div>
  </div>
</template>

<script lang="ts" src="./courier-details.component.ts"></script>
