<template>
  <div>
    <b-dropdown-item to="/restaurant">
      <font-awesome-icon icon="asterisk" />
      <span v-text="$t('global.menu.entities.restaurant')">Restaurant</span>
    </b-dropdown-item>
    <b-dropdown-item to="/courier">
      <font-awesome-icon icon="asterisk" />
      <span v-text="$t('global.menu.entities.courier')">Courier</span>
    </b-dropdown-item>
    <b-dropdown-item to="/customer">
      <font-awesome-icon icon="asterisk" />
      <span v-text="$t('global.menu.entities.customer')">Customer</span>
    </b-dropdown-item>
    <b-dropdown-item to="/product">
      <font-awesome-icon icon="asterisk" />
      <span v-text="$t('global.menu.entities.product')">Product</span>
    </b-dropdown-item>
    <b-dropdown-item to="/order">
      <font-awesome-icon icon="asterisk" />
      <span v-text="$t('global.menu.entities.order')">Order</span>
    </b-dropdown-item>
    <b-dropdown-item to="/delivery-run">
      <font-awesome-icon icon="asterisk" />
      <span v-text="$t('global.menu.entities.deliveryRun')">Delivery Run</span>
    </b-dropdown-item>
    <b-dropdown-item to="/coop">
      <font-awesome-icon icon="asterisk" />
      <span v-text="$t('global.menu.entities.coop')">Coop</span>
    </b-dropdown-item>
    <!-- jhipster-needle-add-entity-to-menu - JHipster will add entities to the menu here -->
  </div>
</template>

<script lang="ts" src="./entities-menu.component.ts"></script>
