<template>
  <div class="row justify-content-center">
    <div class="col-8">
      <form name="editForm" role="form" novalidate v-on:submit.prevent="save()">
        <h2
          id="blogApp.restaurant.home.createOrEditLabel"
          data-cy="RestaurantCreateUpdateHeading"
          v-text="$t('blogApp.restaurant.home.createOrEditLabel')"
        >
          Create or edit a Restaurant
        </h2>
        <div>
          <div class="form-group" v-if="restaurant.id">
            <label for="id" v-text="$t('global.field.id')">ID</label>
            <input type="text" class="form-control" id="id" name="id" v-model="restaurant.id" readonly />
          </div>
          <div class="form-group">
            <label class="form-control-label" v-text="$t('blogApp.restaurant.name')" for="restaurant-name">Name</label>
            <input
              type="text"
              class="form-control"
              name="name"
              id="restaurant-name"
              data-cy="name"
              :class="{ valid: !$v.restaurant.name.$invalid, invalid: $v.restaurant.name.$invalid }"
              v-model="$v.restaurant.name.$model"
              required
            />
            <div v-if="$v.restaurant.name.$anyDirty && $v.restaurant.name.$invalid">
              <small class="form-text text-danger" v-if="!$v.restaurant.name.required" v-text="$t('entity.validation.required')">
                This field is required.
              </small>
              <small
                class="form-text text-danger"
                v-if="!$v.restaurant.name.minLength"
                v-text="$t('entity.validation.minlength', { min: 1 })"
              >
                This field is required to be at least 1 characters.
              </small>
              <small
                class="form-text text-danger"
                v-if="!$v.restaurant.name.maxLength"
                v-text="$t('entity.validation.maxlength', { max: 60 })"
              >
                This field cannot be longer than 60 characters.
              </small>
            </div>
          </div>
          <div class="form-group">
            <label class="form-control-label" v-text="$t('blogApp.restaurant.address')" for="restaurant-address">Address</label>
            <input
              type="text"
              class="form-control"
              name="address"
              id="restaurant-address"
              data-cy="address"
              :class="{ valid: !$v.restaurant.address.$invalid, invalid: $v.restaurant.address.$invalid }"
              v-model="$v.restaurant.address.$model"
              required
            />
            <div v-if="$v.restaurant.address.$anyDirty && $v.restaurant.address.$invalid">
              <small class="form-text text-danger" v-if="!$v.restaurant.address.required" v-text="$t('entity.validation.required')">
                This field is required.
              </small>
              <small
                class="form-text text-danger"
                v-if="!$v.restaurant.address.minLength"
                v-text="$t('entity.validation.minlength', { min: 1 })"
              >
                This field is required to be at least 1 characters.
              </small>
              <small
                class="form-text text-danger"
                v-if="!$v.restaurant.address.maxLength"
                v-text="$t('entity.validation.maxlength', { max: 200 })"
              >
                This field cannot be longer than 200 characters.
              </small>
            </div>
          </div>
          <div class="form-group">
            <label class="form-control-label" v-text="$t('blogApp.restaurant.schedule')" for="restaurant-schedule">Schedule</label>
            <input
              type="text"
              class="form-control"
              name="schedule"
              id="restaurant-schedule"
              data-cy="schedule"
              :class="{ valid: !$v.restaurant.schedule.$invalid, invalid: $v.restaurant.schedule.$invalid }"
              v-model="$v.restaurant.schedule.$model"
            />
          </div>
          <div class="form-group">
            <label class="form-control-label" v-text="$t('blogApp.restaurant.phone')" for="restaurant-phone">Phone</label>
            <input
              type="text"
              class="form-control"
              name="phone"
              id="restaurant-phone"
              data-cy="phone"
              :class="{ valid: !$v.restaurant.phone.$invalid, invalid: $v.restaurant.phone.$invalid }"
              v-model="$v.restaurant.phone.$model"
              required
            />
            <div v-if="$v.restaurant.phone.$anyDirty && $v.restaurant.phone.$invalid">
              <small class="form-text text-danger" v-if="!$v.restaurant.phone.required" v-text="$t('entity.validation.required')">
                This field is required.
              </small>
              <small
                class="form-text text-danger"
                v-if="!$v.restaurant.phone.pattern"
                v-text="$t('entity.validation.pattern', { pattern: 'Phone' })"
              >
                This field should follow pattern for "Phone".
              </small>
            </div>
          </div>
          <div class="form-group">
            <label class="form-control-label" v-text="$t('blogApp.restaurant.deadline')" for="restaurant-deadline">Deadline</label>
            <input
              type="text"
              class="form-control"
              name="deadline"
              id="restaurant-deadline"
              data-cy="deadline"
              :class="{ valid: !$v.restaurant.deadline.$invalid, invalid: $v.restaurant.deadline.$invalid }"
              v-model="$v.restaurant.deadline.$model"
            />
          </div>
          <div class="form-group">
            <label class="form-control-label" v-text="$t('blogApp.restaurant.coop')" for="restaurant-coop">Coop</label>
            <select class="form-control" id="restaurant-coop" data-cy="coop" name="coop" v-model="restaurant.coop">
              <option v-bind:value="null"></option>
              <option
                v-bind:value="restaurant.coop && coopOption.id === restaurant.coop.id ? restaurant.coop : coopOption"
                v-for="coopOption in coops"
                :key="coopOption.id"
              >
                {{ coopOption.id }}
              </option>
            </select>
          </div>
          <div class="form-group">
            <label v-text="$t('blogApp.restaurant.product')" for="restaurant-product">Product</label>
            <select
              class="form-control"
              id="restaurant-products"
              data-cy="product"
              multiple
              name="product"
              v-if="restaurant.products !== undefined"
              v-model="restaurant.products"
            >
              <option
                v-bind:value="getSelected(restaurant.products, productOption)"
                v-for="productOption in products"
                :key="productOption.id"
              >
                {{ productOption.id }}
              </option>
            </select>
          </div>
        </div>
        <div>
          <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" v-on:click="previousState()">
            <font-awesome-icon icon="ban"></font-awesome-icon>&nbsp;<span v-text="$t('entity.action.cancel')">Cancel</span>
          </button>
          <button
            type="submit"
            id="save-entity"
            data-cy="entityCreateSaveButton"
            :disabled="$v.restaurant.$invalid || isSaving"
            class="btn btn-primary"
          >
            <font-awesome-icon icon="save"></font-awesome-icon>&nbsp;<span v-text="$t('entity.action.save')">Save</span>
          </button>
        </div>
      </form>
    </div>
  </div>
</template>
<script lang="ts" src="./restaurant-update.component.ts"></script>
