<template>
  <div>
    <h2 id="page-heading" data-cy="DeliveryRunHeading">
      <span v-text="$t('blogApp.deliveryRun.home.title')" id="delivery-run-heading">Delivery Runs</span>
      <div class="d-flex justify-content-end">
        <button class="btn btn-info mr-2" v-on:click="handleSyncList" :disabled="isFetching">
          <font-awesome-icon icon="sync" :spin="isFetching"></font-awesome-icon>
          <span v-text="$t('blogApp.deliveryRun.home.refreshListLabel')">Refresh List</span>
        </button>
        <router-link :to="{ name: 'DeliveryRunCreate' }" custom v-slot="{ navigate }">
          <button
            @click="navigate"
            id="jh-create-entity"
            data-cy="entityCreateButton"
            class="btn btn-primary jh-create-entity create-delivery-run"
          >
            <font-awesome-icon icon="plus"></font-awesome-icon>
            <span v-text="$t('blogApp.deliveryRun.home.createLabel')"> Create a new Delivery Run </span>
          </button>
        </router-link>
      </div>
    </h2>
    <br />
    <div class="alert alert-warning" v-if="!isFetching && deliveryRuns && deliveryRuns.length === 0">
      <span v-text="$t('blogApp.deliveryRun.home.notFound')">No deliveryRuns found</span>
    </div>
    <div class="table-responsive" v-if="deliveryRuns && deliveryRuns.length > 0">
      <table class="table table-striped" aria-describedby="deliveryRuns">
        <thead>
          <tr>
            <th scope="row"><span v-text="$t('global.field.id')">ID</span></th>
            <th scope="row"><span v-text="$t('blogApp.deliveryRun.idDelivery')">Id Delivery</span></th>
            <th scope="row"><span v-text="$t('blogApp.deliveryRun.address')">Address</span></th>
            <th scope="row"><span v-text="$t('blogApp.deliveryRun.startTime')">Start Time</span></th>
            <th scope="row"><span v-text="$t('blogApp.deliveryRun.endTime')">End Time</span></th>
            <th scope="row"><span v-text="$t('blogApp.deliveryRun.coursier')">Coursier</span></th>
            <th scope="row"></th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="deliveryRun in deliveryRuns" :key="deliveryRun.id" data-cy="entityTable">
            <td>
              <router-link :to="{ name: 'DeliveryRunView', params: { deliveryRunId: deliveryRun.id } }">{{ deliveryRun.id }}</router-link>
            </td>
            <td>{{ deliveryRun.idDelivery }}</td>
            <td>{{ deliveryRun.address }}</td>
            <td>{{ deliveryRun.startTime ? $d(Date.parse(deliveryRun.startTime), 'short') : '' }}</td>
            <td>{{ deliveryRun.endTime ? $d(Date.parse(deliveryRun.endTime), 'short') : '' }}</td>
            <td>
              <div v-if="deliveryRun.coursier">
                <router-link :to="{ name: 'CourierView', params: { courierId: deliveryRun.coursier.id } }">{{
                  deliveryRun.coursier.id
                }}</router-link>
              </div>
            </td>
            <td class="text-right">
              <div class="btn-group">
                <router-link :to="{ name: 'DeliveryRunView', params: { deliveryRunId: deliveryRun.id } }" custom v-slot="{ navigate }">
                  <button @click="navigate" class="btn btn-info btn-sm details" data-cy="entityDetailsButton">
                    <font-awesome-icon icon="eye"></font-awesome-icon>
                    <span class="d-none d-md-inline" v-text="$t('entity.action.view')">View</span>
                  </button>
                </router-link>
                <router-link :to="{ name: 'DeliveryRunEdit', params: { deliveryRunId: deliveryRun.id } }" custom v-slot="{ navigate }">
                  <button @click="navigate" class="btn btn-primary btn-sm edit" data-cy="entityEditButton">
                    <font-awesome-icon icon="pencil-alt"></font-awesome-icon>
                    <span class="d-none d-md-inline" v-text="$t('entity.action.edit')">Edit</span>
                  </button>
                </router-link>
                <b-button
                  v-on:click="prepareRemove(deliveryRun)"
                  variant="danger"
                  class="btn btn-sm"
                  data-cy="entityDeleteButton"
                  v-b-modal.removeEntity
                >
                  <font-awesome-icon icon="times"></font-awesome-icon>
                  <span class="d-none d-md-inline" v-text="$t('entity.action.delete')">Delete</span>
                </b-button>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <b-modal ref="removeEntity" id="removeEntity">
      <span slot="modal-title"
        ><span id="blogApp.deliveryRun.delete.question" data-cy="deliveryRunDeleteDialogHeading" v-text="$t('entity.delete.title')"
          >Confirm delete operation</span
        ></span
      >
      <div class="modal-body">
        <p id="jhi-delete-deliveryRun-heading" v-text="$t('blogApp.deliveryRun.delete.question', { id: removeId })">
          Are you sure you want to delete this Delivery Run?
        </p>
      </div>
      <div slot="modal-footer">
        <button type="button" class="btn btn-secondary" v-text="$t('entity.action.cancel')" v-on:click="closeDialog()">Cancel</button>
        <button
          type="button"
          class="btn btn-primary"
          id="jhi-confirm-delete-deliveryRun"
          data-cy="entityConfirmDeleteButton"
          v-text="$t('entity.action.delete')"
          v-on:click="removeDeliveryRun()"
        >
          Delete
        </button>
      </div>
    </b-modal>
  </div>
</template>

<script lang="ts" src="./delivery-run.component.ts"></script>
