<template>
  <div class="row justify-content-center">
    <div class="col-8">
      <form name="editForm" role="form" novalidate v-on:submit.prevent="save()">
        <h2
          id="blogApp.deliveryRun.home.createOrEditLabel"
          data-cy="DeliveryRunCreateUpdateHeading"
          v-text="$t('blogApp.deliveryRun.home.createOrEditLabel')"
        >
          Create or edit a DeliveryRun
        </h2>
        <div>
          <div class="form-group" v-if="deliveryRun.id">
            <label for="id" v-text="$t('global.field.id')">ID</label>
            <input type="text" class="form-control" id="id" name="id" v-model="deliveryRun.id" readonly />
          </div>
          <div class="form-group">
            <label class="form-control-label" v-text="$t('blogApp.deliveryRun.idDelivery')" for="delivery-run-idDelivery"
              >Id Delivery</label
            >
            <input
              type="number"
              class="form-control"
              name="idDelivery"
              id="delivery-run-idDelivery"
              data-cy="idDelivery"
              :class="{ valid: !$v.deliveryRun.idDelivery.$invalid, invalid: $v.deliveryRun.idDelivery.$invalid }"
              v-model.number="$v.deliveryRun.idDelivery.$model"
            />
            <div v-if="$v.deliveryRun.idDelivery.$anyDirty && $v.deliveryRun.idDelivery.$invalid">
              <small class="form-text text-danger" v-if="!$v.deliveryRun.idDelivery.numeric" v-text="$t('entity.validation.number')">
                This field should be a number.
              </small>
            </div>
          </div>
          <div class="form-group">
            <label class="form-control-label" v-text="$t('blogApp.deliveryRun.address')" for="delivery-run-address">Address</label>
            <input
              type="text"
              class="form-control"
              name="address"
              id="delivery-run-address"
              data-cy="address"
              :class="{ valid: !$v.deliveryRun.address.$invalid, invalid: $v.deliveryRun.address.$invalid }"
              v-model="$v.deliveryRun.address.$model"
            />
            <div v-if="$v.deliveryRun.address.$anyDirty && $v.deliveryRun.address.$invalid">
              <small
                class="form-text text-danger"
                v-if="!$v.deliveryRun.address.minLength"
                v-text="$t('entity.validation.minlength', { min: 3 })"
              >
                This field is required to be at least 3 characters.
              </small>
            </div>
          </div>
          <div class="form-group">
            <label class="form-control-label" v-text="$t('blogApp.deliveryRun.startTime')" for="delivery-run-startTime">Start Time</label>
            <div class="d-flex">
              <input
                id="delivery-run-startTime"
                data-cy="startTime"
                type="datetime-local"
                class="form-control"
                name="startTime"
                :class="{ valid: !$v.deliveryRun.startTime.$invalid, invalid: $v.deliveryRun.startTime.$invalid }"
                :value="convertDateTimeFromServer($v.deliveryRun.startTime.$model)"
                @change="updateInstantField('startTime', $event)"
              />
            </div>
          </div>
          <div class="form-group">
            <label class="form-control-label" v-text="$t('blogApp.deliveryRun.endTime')" for="delivery-run-endTime">End Time</label>
            <div class="d-flex">
              <input
                id="delivery-run-endTime"
                data-cy="endTime"
                type="datetime-local"
                class="form-control"
                name="endTime"
                :class="{ valid: !$v.deliveryRun.endTime.$invalid, invalid: $v.deliveryRun.endTime.$invalid }"
                :value="convertDateTimeFromServer($v.deliveryRun.endTime.$model)"
                @change="updateInstantField('endTime', $event)"
              />
            </div>
          </div>
          <div class="form-group">
            <label class="form-control-label" v-text="$t('blogApp.deliveryRun.coursier')" for="delivery-run-coursier">Coursier</label>
            <select class="form-control" id="delivery-run-coursier" data-cy="coursier" name="coursier" v-model="deliveryRun.coursier">
              <option v-bind:value="null"></option>
              <option
                v-bind:value="deliveryRun.coursier && courierOption.id === deliveryRun.coursier.id ? deliveryRun.coursier : courierOption"
                v-for="courierOption in couriers"
                :key="courierOption.id"
              >
                {{ courierOption.id }}
              </option>
            </select>
          </div>
        </div>
        <div>
          <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" v-on:click="previousState()">
            <font-awesome-icon icon="ban"></font-awesome-icon>&nbsp;<span v-text="$t('entity.action.cancel')">Cancel</span>
          </button>
          <button
            type="submit"
            id="save-entity"
            data-cy="entityCreateSaveButton"
            :disabled="$v.deliveryRun.$invalid || isSaving"
            class="btn btn-primary"
          >
            <font-awesome-icon icon="save"></font-awesome-icon>&nbsp;<span v-text="$t('entity.action.save')">Save</span>
          </button>
        </div>
      </form>
    </div>
  </div>
</template>
<script lang="ts" src="./delivery-run-update.component.ts"></script>
