<template>
  <div class="row justify-content-center">
    <div class="col-8">
      <div v-if="deliveryRun">
        <h2 class="jh-entity-heading" data-cy="deliveryRunDetailsHeading">
          <span v-text="$t('blogApp.deliveryRun.detail.title')">DeliveryRun</span> {{ deliveryRun.id }}
        </h2>
        <dl class="row jh-entity-details">
          <dt>
            <span v-text="$t('blogApp.deliveryRun.idDelivery')">Id Delivery</span>
          </dt>
          <dd>
            <span>{{ deliveryRun.idDelivery }}</span>
          </dd>
          <dt>
            <span v-text="$t('blogApp.deliveryRun.address')">Address</span>
          </dt>
          <dd>
            <span>{{ deliveryRun.address }}</span>
          </dd>
          <dt>
            <span v-text="$t('blogApp.deliveryRun.startTime')">Start Time</span>
          </dt>
          <dd>
            <span v-if="deliveryRun.startTime">{{ $d(Date.parse(deliveryRun.startTime), 'long') }}</span>
          </dd>
          <dt>
            <span v-text="$t('blogApp.deliveryRun.endTime')">End Time</span>
          </dt>
          <dd>
            <span v-if="deliveryRun.endTime">{{ $d(Date.parse(deliveryRun.endTime), 'long') }}</span>
          </dd>
          <dt>
            <span v-text="$t('blogApp.deliveryRun.coursier')">Coursier</span>
          </dt>
          <dd>
            <div v-if="deliveryRun.coursier">
              <router-link :to="{ name: 'CourierView', params: { courierId: deliveryRun.coursier.id } }">{{
                deliveryRun.coursier.id
              }}</router-link>
            </div>
          </dd>
        </dl>
        <button type="submit" v-on:click.prevent="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <font-awesome-icon icon="arrow-left"></font-awesome-icon>&nbsp;<span v-text="$t('entity.action.back')"> Back</span>
        </button>
        <router-link
          v-if="deliveryRun.id"
          :to="{ name: 'DeliveryRunEdit', params: { deliveryRunId: deliveryRun.id } }"
          custom
          v-slot="{ navigate }"
        >
          <button @click="navigate" class="btn btn-primary">
            <font-awesome-icon icon="pencil-alt"></font-awesome-icon>&nbsp;<span v-text="$t('entity.action.edit')"> Edit</span>
          </button>
        </router-link>
      </div>
    </div>
  </div>
</template>

<script lang="ts" src="./delivery-run-details.component.ts"></script>
